@import url('http://fonts.googleapis.com/css?family=Kanit');
@import url('http://fonts.googleapis.com/css?family=Sarabun');

body {
  margin: 0;
  font-family: 'Sarabun','-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.table-header {
  font-family: 'Kanit', sans-serif; /* Use the Kanit font */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#page-wrap {
  padding-top: 100px;
  padding-left: 100px;
  }

#outer-container {
  position: relative;
  width: 100%; /* Adjust the width according to your design */
  height: 100%; /* You may need to set a height as well */
  float: left;
}
  
